
.navMenu {
  display: flex;
  flex-flow: row;
  justify-content: space-evenly;
  font-size: 20px;

}
.navMenu a {
  color: black;
  text-decoration: none;
  font-size: 1.2em;
  text-transform: uppercase;
  font-weight: 500;
  display: inline-block;
  width: 80px;
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}
.navMenu a:hover {
  color: #87CEFA;
}
.navMenu .dot {
  width: 6px;
  height: 6px;
  background: #4682B4;
  border-radius: 50%;
  opacity: 0;
  -webkit-transform: translateX(30px);
  transform: translateX(30px);
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}
.navMenu a:nth-child(1):hover ~ .dot {
  -webkit-transform: translateX(30px);
  transform: translateX(30px);
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
  opacity: 1;
}
.navMenu a:nth-child(2):hover ~ .dot {
  -webkit-transform: translateX(110px);
  transform: translateX(110px);
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
  opacity: 1;
}
.navMenu a:nth-child(3):hover ~ .dot {
  -webkit-transform: translateX(200px);
  transform: translateX(200px);
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
  opacity: 1;
}
.navMenu a:nth-child(4):hover ~ .dot {
  -webkit-transform: translateX(285px);
  transform: translateX(285px);
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
  opacity: 1;
}

p {
    font-size: 50px;
}
.p1 {
    font-size: 30px;
    font-family: "Gill Sans", sans-serif;
}
.p2 {
    font-size: 20px;
    font-family: "Gill Sans", sans-serif;
}
.stash{
  max-width: 900px;
  margin: 0 auto;
}
.main{
  width: 100%;
  height: auto;
  display: block;
  margin-left: auto; 
}
.about{
  width: 100%;
  height: auto;
  margin-bottom: 20px; 
}
.resume {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  max-width: 900px;
  margin: 0 auto;
}

.resume img {
  width: 100%;
  height: auto;
  display: block;
}

.footer {
    font-size: 20px;
    align-items: center;     
    text-align: center;
}
